-#  This file is app/views/application/index.html.haml

%h1 Welcome!

%div{:id => "board"}
  = button_to 'New Game', new_game_path, :class => 'btn', :method => :get
  %br
  %br
  = button_to 'New Challenge', challenge_path, :class => 'btn', :method => :get
